#table {
    transform:rotate(-90deg);
    margin-top: 5rem;
    margin: 0px auto;
}
td.active {
    border: 1px solid blue;
    font-weight: bold;
    color: yellow;
    background-color :red
  }
td {
  padding: 5px;
  text-align: center
}
td.clean{
  background-color: #fff;
}

td.dirty{
  background-color: brown;
}

td:focus {
    background: yellow;
}